In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
plt.rcdefaults()
plt.rcParams.update({
    'pdf.fonttype': 42,
    'ps.fonttype': 42,
})

In [3]:
plt.rcParams.update({
    'pdf.fonttype':42,
    'axes.facecolor': '#FFFBF6',
    'savefig.facecolor': '#FFFBF6',
    'figure.facecolor': '#FFFBF6',
    'axes.spines.left': True,
    'axes.spines.bottom': True,
    'axes.spines.top': False,
    'axes.spines.right': False,
    'axes.grid': False,
    'xtick.top': False,
    'xtick.bottom': True,
    'xtick.color': '#2e3546',
    'ytick.color':'#2e3546',
    #'ytick.bottom': True,
    #'ytick.color': 'black'
    #'xtick.major.size': 7,
    #'xtick.major.width': 3,
    #'xtick.major.pad': 0,
    #'xtick.direction': 'in',
    #'legend.columnspacing': 2.0,
    'font.family': 'Noto Serif',
    'font.size':16,
    'text.color':'#2e3546',
    })

#### Use data already collected for the purposes of a previous project, that is online available here: https://solomonmag.com/data-stories-en/the-greek-vote-and-the-political-circumstances-that-influenced-it-a-timeline-covering-the-past-four-decades/?lang=en. Please find relevant code here: https://github.com/kellykiki/works/blob/master/Greek%20Elections%20-%20Historical%20Data.ipynb

In [4]:
df1 = pd.read_csv('elections.csv')

In [5]:
results2019 = pd.read_csv('results2019.csv')

In [6]:
df1.head()

,Unnamed: 0,leader,party,percentage,seats,votes,date
0,0,Τσίπρας Αλέξιος του Παύλου,Συνασπισμός Ριζοσπαστικής Αριστεράς,35.46,145,1925904,"2015, Sept"
1,1,Μεϊμαράκης Ευάγγελος - Βασίλειος του Ιωάννη,Νέα Δημοκρατία,28.10,75,1526205,"2015, Sept"
2,2,Μιχαλολιάκος Νικόλαος του Γεωργίου,Λαϊκός Σύνδεσμος Χρυσή Αυγή,6.99,18,379581,"2015, Sept"
3,3,Γενηματά Φωτεινή του Γεωργίου,Δημοκρατική Συμπαράταξη (ΠΑ.ΣΟ.Κ. - ΔΗΜ.ΑΡ.),6.28,17,341390,"2015, Sept"
4,4,Κουτσούμπας Δημήτριος του Αποστόλου,Κομμουνιστικό Κόμμα Ελλάδας,5.55,15,301632,"2015, Sept"

In [7]:
df1 = df1.drop('Unnamed: 0',axis=1)

In [8]:
df1.head()

,leader,party,percentage,seats,votes,date
0,Τσίπρας Αλέξιος του Παύλου,Συνασπισμός Ριζοσπαστικής Αριστεράς,35.46,145,1925904,"2015, Sept"
1,Μεϊμαράκης Ευάγγελος - Βασίλειος του Ιωάννη,Νέα Δημοκρατία,28.10,75,1526205,"2015, Sept"
2,Μιχαλολιάκος Νικόλαος του Γεωργίου,Λαϊκός Σύνδεσμος Χρυσή Αυγή,6.99,18,379581,"2015, Sept"
3,Γενηματά Φωτεινή του Γεωργίου,Δημοκρατική Συμπαράταξη (ΠΑ.ΣΟ.Κ. - ΔΗΜ.ΑΡ.),6.28,17,341390,"2015, Sept"
4,Κουτσούμπας Δημήτριος του Αποστόλου,Κομμουνιστικό Κόμμα Ελλάδας,5.55,15,301632,"2015, Sept"

In [9]:
results2019

,Unnamed: 0,leader,party,percentage,seats,votes,date
0,0,Μητσοτάκης Κυριάκος του Κωνσταντίνου,Νέα Δημοκρατία,39.85,158,2251411,2019
1,1,Τσίπρας Αλέξης,ΣΥΡΙΖΑ,31.53,86,1781174,2019
2,2,Φώφη Γεννηματά,ΚΙΝΑΛ,8.10,22,457519,2019
3,3,Δημήτρης Κουτσούμπας,ΚΚΕ,5.30,15,299592,2019
4,4,Κυριάκος Βελόπουλος,Ελληνική Λύση,3.70,10,208805,2019
5,5,Γιάνης Βαρουφάκης,Μέρα 25,3.44,9,194232,2019

In [10]:
df1 = pd.concat([df1,results2019])
df1.head()

C:\Users\kellykiki\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

,Unnamed: 0,date,leader,party,percentage,seats,votes
0,NaN,"2015, Sept",Τσίπρας Αλέξιος του Παύλου,Συνασπισμός Ριζοσπαστικής Αριστεράς,35.46,145,1925904
1,NaN,"2015, Sept",Μεϊμαράκης Ευάγγελος - Βασίλειος του Ιωάννη,Νέα Δημοκρατία,28.10,75,1526205
2,NaN,"2015, Sept",Μιχαλολιάκος Νικόλαος του Γεωργίου,Λαϊκός Σύνδεσμος Χρυσή Αυγή,6.99,18,379581
3,NaN,"2015, Sept",Γενηματά Φωτεινή του Γεωργίου,Δημοκρατική Συμπαράταξη (ΠΑ.ΣΟ.Κ. - ΔΗΜ.ΑΡ.),6.28,17,341390
4,NaN,"2015, Sept",Κουτσούμπας Δημήτριος του Αποστόλου,Κομμουνιστικό Κόμμα Ελλάδας,5.55,15,301632

In [11]:
df1 = df1.drop('Unnamed: 0',axis=1)
df1.head()

,date,leader,party,percentage,seats,votes
0,"2015, Sept",Τσίπρας Αλέξιος του Παύλου,Συνασπισμός Ριζοσπαστικής Αριστεράς,35.46,145,1925904
1,"2015, Sept",Μεϊμαράκης Ευάγγελος - Βασίλειος του Ιωάννη,Νέα Δημοκρατία,28.10,75,1526205
2,"2015, Sept",Μιχαλολιάκος Νικόλαος του Γεωργίου,Λαϊκός Σύνδεσμος Χρυσή Αυγή,6.99,18,379581
3,"2015, Sept",Γενηματά Φωτεινή του Γεωργίου,Δημοκρατική Συμπαράταξη (ΠΑ.ΣΟ.Κ. - ΔΗΜ.ΑΡ.),6.28,17,341390
4,"2015, Sept",Κουτσούμπας Δημήτριος του Αποστόλου,Κομμουνιστικό Κόμμα Ελλάδας,5.55,15,301632

In [12]:
df2 = pd.DataFrame(data=df1.groupby('date').votes.sum())
df2 = df2.reset_index()
df2 = df2.rename(columns={'votes':'total_votes'})
df2

          date  total_votes
0         2019      5192733
1         1974      4802892
2         1977      5084286
3         1981      5381107
4         1985      6263076
5    1989, Jun      6385663
6    1989, Nov      6591582
7         1990      6403183
8         1993      6596215
9         1996      6429104
10        2000      6542297
11        2004      7042936
12        2007      6938918
13        2009      6490080
14   2012, Jun      5787223
15   2012, May      5122292
16   2015, Jan      5648185
17  2015, Sept      5083758

In [13]:
df3 = pd.merge(df1,df2,on='date')

In [14]:
df3.head()

,date,leader,party,percentage,seats,votes,total_votes
0,"2015, Sept",Τσίπρας Αλέξιος του Παύλου,Συνασπισμός Ριζοσπαστικής Αριστεράς,35.46,145,1925904,5083758
1,"2015, Sept",Μεϊμαράκης Ευάγγελος - Βασίλειος του Ιωάννη,Νέα Δημοκρατία,28.10,75,1526205,5083758
2,"2015, Sept",Μιχαλολιάκος Νικόλαος του Γεωργίου,Λαϊκός Σύνδεσμος Χρυσή Αυγή,6.99,18,379581,5083758
3,"2015, Sept",Γενηματά Φωτεινή του Γεωργίου,Δημοκρατική Συμπαράταξη (ΠΑ.ΣΟ.Κ. - ΔΗΜ.ΑΡ.),6.28,17,341390,5083758
4,"2015, Sept",Κουτσούμπας Δημήτριος του Αποστόλου,Κομμουνιστικό Κόμμα Ελλάδας,5.55,15,301632,5083758

In [15]:
df3['law_2016'] = round(df3.votes*300/df3.total_votes)
df3.head()

,date,leader,party,percentage,seats,votes,total_votes,law_2016
0,"2015, Sept",Τσίπρας Αλέξιος του Παύλου,Συνασπισμός Ριζοσπαστικής Αριστεράς,35.46,145,1925904,5083758,114.0
1,"2015, Sept",Μεϊμαράκης Ευάγγελος - Βασίλειος του Ιωάννη,Νέα Δημοκρατία,28.10,75,1526205,5083758,90.0
2,"2015, Sept",Μιχαλολιάκος Νικόλαος του Γεωργίου,Λαϊκός Σύνδεσμος Χρυσή Αυγή,6.99,18,379581,5083758,22.0
3,"2015, Sept",Γενηματά Φωτεινή του Γεωργίου,Δημοκρατική Συμπαράταξη (ΠΑ.ΣΟ.Κ. - ΔΗΜ.ΑΡ.),6.28,17,341390,5083758,20.0
4,"2015, Sept",Κουτσούμπας Δημήτριος του Αποστόλου,Κομμουνιστικό Κόμμα Ελλάδας,5.55,15,301632,5083758,18.0

In [16]:
df5 = pd.DataFrame(data=df3.groupby('date').seats.max()).reset_index()
df5

          date  seats
0         2019    158
1         1974    220
2         1977    171
3         1981    172
4         1985    161
5    1989, Jun    145
6    1989, Nov    148
7         1990    150
8         1993    170
9         1996    162
10        2000    158
11        2004    165
12        2007    152
13        2009    160
14   2012, Jun    129
15   2012, May    108
16   2015, Jan    149
17  2015, Sept    145

In [17]:
df7 = pd.DataFrame(data=df3.groupby('date').law_2016.max()).reset_index()
df7

          date  law_2016
0         2019     130.0
1         1974     167.0
2         1977     127.0
3         1981     152.0
4         1985     140.0
5    1989, Jun     136.0
6    1989, Nov     141.0
7         1990     145.0
8         1993     147.0
9         1996     131.0
10        2000     138.0
11        2004     143.0
12        2007     129.0
13        2009     138.0
14   2012, Jun      95.0
15   2012, May      70.0
16   2015, Jan     119.0
17  2015, Sept     114.0

In [ ]:
df = pd.merge(df5,df7,on='date')
df

In [ ]:
df.dtypes

In [ ]:
df['date'] = df['date'].replace({"1989, Jun":'1989.06',
                                 "1989, Nov": '1989.11',
                                 "2012, Jun": '2012.06',
                                 "2012, May": '2012.05',
                                 "2015, Jan": '2015.01',
                                 "2015, Sept": '2015.09'})

In [ ]:
df['date'] = df.date.astype(float)
df.dtypes

In [ ]:
df = df.sort_values(by=['date'])
df

In [ ]:
ax = df.plot(kind='line',x='date',figsize=(15,6),marker='o')

ax_thres = plt.axhline(y=151, color='grey',linewidth=2, linestyle=':',alpha = 1)

# ax.set_xticks([1974,1977,1981,1985,1989,1990,1991,1993,1996,2000,2004,2007,2009,2012,2013,2015,2016])
# ax.set_xticklabels(['1974','1977','1981','1985','1989','1990','1991','1993','1996','2000','2004','2007','2009','2012','2013','2015','2016'])

ax.set_yticks([50,100,150,200,250])
ax.set_yticklabels(['50','100','150','200','250'])
ax.set_xlim(1973,2020)
# ax.set_ylim(50,250)

# plt.savefig('historical.pdf')
plt.show()

In [ ]:
df2015 = df1[df1.date.str.contains("2015, Sep", case=False, na=False)]
df2015

In [ ]:
df2015.votes.sum()

In [ ]:
df2015['law_2016'] = round(df2015.votes*300/5083758)
df2015

In [ ]:
df2015['law_2016'].sum()

In [ ]:
df1.dtypes

In [ ]:
df1.dtypes

In [ ]:
df1['votes_total'] = df1.groupby('date').votes.sum()

In [ ]:
df2019 = pd.DataFrame(data=df1.tail(6))
df2019

In [ ]:
df2019['votes_total'] = df2019.votes.sum()

In [ ]:
df2019

In [ ]:
df2019['law_2016'] = df2019.votes*300/df2019.votes_total
df2019

In [ ]:
from pywaffle import Waffle

In [ ]:
fig = plt.figure(
    FigureClass=Waffle, 
    rows=15,
    values=df2019.seats,
    labels=list(df2019.party),
    figsize=(10, 10),
#     colors=waffle_colors,
    legend={'loc': 'upper left', 'bbox_to_anchor': (1.1, 1)},
)

In [ ]:
fig

In [ ]:
fig2 = plt.figure(
    FigureClass=Waffle, 
    rows=15,
    values=df2019.law_2016,
    labels=list(df2019.party),
    figsize=(10, 10),
#     colors=waffle_colors,
    legend={'loc': 'upper left', 'bbox_to_anchor': (1.1, 1)},
)

In [ ]:
fig2